<div style="padding-bottom: 200px"  [hidden]="currentURL">
  <nav  class="navbar navbar-inner navbar-fixed-top">
    <div class="container">
      <div class="navbar-header" style="padding-top: 17px">


        <!--<a class="navbar-brand">-->

        <!--<img src="assets/images/logo.png" alt="logo" />-->
        <!--<span class="app-title">Mr Fixer</span>-->
        <!--</a>-->

        <button [hidden]="isCollapsed"  md-button (click)="start.open()"  type="button" class="btn btn-primary" >
          <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
        </button>
        <span class="navbar-collapse" [attr.data-collapse]="isCollapsed">

</span>
      </div>

    </div>
    <md-sidenav-container style="height: 700px; width : 200px; padding-right: 150px;">
      <md-sidenav style="background-color: #027FF4; width: 200px" #start (open)="closeStartButton.focus()">
        <div style="color:black ">
         <ul>
           <li >
             <a routerLink="/maps">Workers Near Me</a>
           </li>
         </ul>

        </div>
        <br>
        <button md-button #closeStartButton (click)="start.close()">Close</button>
      </md-sidenav>


    </md-sidenav-container>
  </nav>

</div>

