
/*.navbar-fixed-left {*/
  /*width: 50px;*/
  /*position: fixed;*/
  /*left: 0;*/
  /*border-radius: 0;*/
  /*height: 100%;*/
/*}*/

/*.navbar-fixed-left .navbar-nav > li {*/
  /*float: none; !* Cancel default li float: left *!*/
  /*margin-left: -13px;*/

/*}*/

/*.navbar-inverse .navbar-nav > li > a {*/
  /*opacity: 0.5;*/
/*}*/

/*.navbar-fixed-left .navbar-nav > li:hover,*/
/*.navbar-fixed-left .navbar-nav > li:focus,*/
/*.navbar-inverse .navbar-nav > li > a:hover,*/
/*.navbar-inverse .navbar-nav > .active > a,*/
/*.navbar-inverse .navbar-nav > .active > a:hover,*/
/*.navbar-inverse .navbar-nav > .active > a:focus {*/
  /*background-color: transparent;*/
  /*opacity: 2.0;*/
/*}*/

/*.navbar-fixed-left + .container {*/
  /*!*    padding-left: 10px; *!*/
/*}*/

/*!* On using dropdown menu (To right shift popuped) *!*/
/*.navbar-fixed-left .navbar-nav > li > .dropdown-menu {*/
  /*margin-top: -50px;*/
  /*margin-left: 10px;*/
  /*!*    padding-right: 20px;*!*/
/*}*/

md-sidenav-layout.m2app-dark {
  background: black;
}

.app-content {
  padding: 20px;
}

.app-content md-card {
  margin: 20px;
}

.app-sidenav {
  padding: 10px;
  min-width: 100px;
  height: 700px;
}

.app-content md-checkbox {
  margin: 10px;
}

.app-toolbar-filler {
  flex: 1 1 auto;
}

.app-toolbar-menu {
  padding: 0 14px 0 14px;
  color: white;
}

.app-icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

.app-action {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.app-spinner {
  height: 30px;
  width: 30px;
  display: inline-block;
}

.app-input-icon {
  font-size: 16px;
}

.app-list {
  border: 1px solid rgba(0,0,0,0.12);
  width: 350px;
  margin: 20px;
}

.app-progress {
  margin: 20px;
}
