
<div class="login-page" style="padding-top: 100px">
  <div class="form">
    <div style="padding-left: 60px; width : 200px;">
    <img src="assets/images/logo.png">
      <h3>Mr Fixer</h3>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="submit(userEmail,userPassword);" style="padding-top: 25px" class="login-form" novalidate>
      <input type="text" [(ngModel)]="userEmail" name="email" placeholder="Email" formControlName="email" style="width: 250px" required/>
      <div style="width: 250px" class="alert alert-danger" [hidden]="loginForm.controls.email.untouched || loginForm.controls.email.valid">
        A valid email address is required
      </div>
      <input name="password" [(ngModel)]="userPassword" type="password" formControlName="password" placeholder="Password" style="width: 250px" required/>
      <div style="width: 250px" class="alert alert-danger" [hidden]="loginForm.controls.password.untouched || loginForm.controls.password.valid">
        A valid password  is required
      </div>
      <div style="padding-left: 60px; width : 200px;">
        <button [disabled]="!loginForm.valid">login</button>

      </div>
      <div style="padding-left: 60px; width : 200px;">
        <p class="message">Not registered? <a routerLink="/signup">  Create an account</a></p>

      </div>
    </form>
  </div>
</div>
