<router-outlet></router-outlet>

<app-navbar>
</app-navbar>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->


<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->


