/* You can add global styles to this file, and also import other style files */
html {
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  font-family: 'Open Sans'
}

main {
  position: relative;
  padding-top: 60px;
}

/* Ensure display:flex and others don't override a [hidden] */
[hidden] {
  display: none !important;
}

th {
  cursor: pointer;
}

.app-title {
  line-height:50px;
  font-size:20px;
  color: white;
}

.toolbar-item a {
  cursor: pointer;
}

.orders-table {
  width:50%;
}

.orders-table td {
  width: 50%;
}

.summary-border {
  border-top: 2px solid black;
}

.indent {
  margin-left:5px;
}

.navbar {
  height: 60px;
}

.navbar .nav > li.toolbar-item > a {
  color: #9E9E9E;
  font-weight:bold;
}

.navbar .nav > .toolbar-item > a.active {
  color: #000;
}

.navbar-header {
  margin-top: -10px;
}

.navbar-collapse {
  float:right;
  margin-top: 15px;
}

.nav.navbar-padding {
  margin-left:25px;
  margin-top: 10px;
}

a.navbar-brand {
  color: #fff;
}

.navbar-brand>img {
  display: inline-block;
}

.navbar-inner {
  padding-left: 0px;
  background-color: #027FF4;
}

.navbar-inner.toolbar {
  background-color: #fafafa;
}

.navbar-inner.footer {
  background-color: #fafafa;
  height:50px;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
  background-color: #efefef;
  color: #808080;
}

.navbar .nav li.toolbaritem a:hover, .navbar .nav li a:hover {
  color: #E03930;
}

.navbar .nav > li  {
  cursor:pointer;
}

.navbar .nav > li > a {
  color: white;
  font-weight:bold;
  height:30px;
  padding-top: 6px;
  padding-bottom: 0px;
}

.navbar .nav > li.toolbaritem > a {
  color: black;
  font-weight:bold;
}

.nav.navBarPadding {
  margin-left: 25px;
  margin-top: 10px;
}

.navbarText {
  font-weight:bold;
}

.navbar-toggle {
  border: 1px solid white;
}

.navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-inner.footer {
  background-color: #fafafa;
  height:50px;
}

footer {
  margin-top: 15px;
}

form {
  width:50%;
}


a:hover, a:focus {
  text-decoration: none;
}

