<div class="container"style="padding-top: 100px">

  <div class="row">
    <div class="col-xs-4">
      <h2>Workers Near Me!</h2>

    </div>
    <div class="col-lg-4">
      <h2>Workers Near Me!</h2>

    </div>
  </div>
</div>

<div class="container">
  <sebm-google-map [latitude]="lat" [longitude]="lng">
    <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
  </sebm-google-map>
</div>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->

