<div class="container" style="color: #FFFFFF;padding-top: 100px; padding-left: 200px">

  <div class="input-group" style="margin-bottom: 10px">
    <input id="appendedtext" name="appendedtext" class="form-control" placeholder="Search" type="text"
           ng-model="query">
    <div class="input-group-addon"><i class="material-icons md-60">search</i></div>

  </div>
  <div *ngFor="let worker of dataofworker" style="margin-bottom: 5px">
    <md-card style="padding-bottom: 10px">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <img style="width: 150px" src="assets/images/plumber.png">
          </div>
          <div class="col-lg-7">
            <h3 style="color: #1a1a1a; font-family: 'Arial Black'">{{worker.name}}</h3>
            <h3 style="color: #1a1a1a; font-family: 'Arial Black'"> {{worker.profession}}</h3>
            <h3 style="color: #1a1a1a; font-family: 'Arial Black'"> {{worker.distance}}</h3>

          </div>
        </div>
      </div>
    </md-card>
  </div>

</div>
